brotlicffi
certifi
cffi
charset-normalizer
filelock
gmpy2
idna
Jinja2
MarkupSafe
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
networkx
numpy==2.0.1
openvr @ git+https://github.com/cmbruns/pyopenvr.git@f466e1001d0db1d6ff4efdab0529747cf8a6fdee
pandas==2.3.1
pillow
pycparser
pyserial
PySocks
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML
requests
six==1.17.0
sympy
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
typing_extensions
tzdata==2025.2
urllib3
win-inet-pton